data/*
!data/raw/

# 2. Ignore mọi thứ trong raw nhưng chừa lại các file PDF cụ thể
data/raw/*
!data/raw/economics.pdf
!data/raw/astronomy.pdf
!data/raw/Behavioral_Neuroscience.pdf
venv/
env/
__pycache__/
*.pyc
auth.sh
.env
__documents__
__plans__
outputs/
.DS_Store
post-test/index.html
*.html